
import("R6")
import("maptools")
import("maps")
import("mapdata")
import("PBSmapping")
import("plyr")
import("rjags")
import("gstat")
import("lattice")
import("gWidgets2")
import("gWidgets2RGtk2")
import("sp")
import("ggmap")
import("ggplot2")
import("gsubfn")
import("sqldf")
import("chron")
import("rgeos")
importFrom("RgoogleMaps", "MaxZoom")
importFrom("clues", "get_CH")
importFrom("cluster", "silhouette")
importFrom("spdep", "poly2nb", "nbcosts", "nb2listw", "mstree", "skater")
importFrom("marmap", "getNOAA.bathy", "get.depth", "fortify.bathy")
importFrom("shape", "intpalette", "colorlegend")
importFrom("png", "readPNG")
importFrom("reshape2", "dcast", "melt")
importFrom("foreign", "read.dbf")
importFrom("ROCR", "prediction", "performance")
importFrom("pROC", "roc")
importFrom("caret", "confusionMatrix")
importFrom("nnls", "nnls")
importFrom("mtsdi", "mnimput")
importFrom("gridExtra", "grid.arrange")


export(smart_gui)
export(SmartProject)
