
import("R6")
import("maptools")
import("maps")
import("mapdata")
import("PBSmapping")
import("plyr")
import("rjags")
import("gstat")
import("lattice")
import("gWidgets2")
import("gWidgets2RGtk2")
import("sp")
import("ggmap")
import("ggplot2")
import("gsubfn")
import("sqldf")
import("chron")
importFrom("RgoogleMaps", "MaxZoom")
importFrom("clues", "get_CH")
importFrom("cluster", "silhouette")
importFrom("spdep", "poly2nb", "nbcosts", "nb2listw", "mstree", "skater")
importFrom("marmap", "getNOAA.bathy", "get.depth")
importFrom("shape", "intpalette", "colorlegend")
importFrom("png", "readPNG")


export(smart_gui)
export(SmartProject)
